{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title id="title">{% block title %}Firefly Dashboard{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "gps/gps.js" %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
</head>

  <body>{% block body %}

    <div id="panel1">{% block panel1 %}Panel1{% endblock %}</div>
    <div id="panel2">{% block panel2 %}Panel2{% endblock %}</div>
    <div id="panel3">{% block panel3 %}Panel3{% endblock %}</div>

  </body>{% endblock body %}
</html>
