{% extends "templates/base.html" %}

{% block panel1 %}
<button type="button" onclick="addHighlightClass()">Start GPS</button>
<!-- <button type="button" onclick="loadGPSFile()">Upload New GPS File</button> -->
<!-- <input id="gps-file" type="file" /> -->

<form enctype="multipart/form-data">
<input id="upload" type=file name="files[]" size=30>
</form>

<textarea class="form-control" rows=35 cols=120 id="ms_word_filtered_html"></textarea>


{% endblock %}

{% block panel2 %}
<div class="poem-stanza">
  <p>Iteration <span id="iter_id">0</span>:<p>
  <p>Lat <span class="latitude" /></p>
  <p>Lon <span class="longitude" /></p>
</div>
{% endblock %}

{% block panel3 %}
<div id="plot" class="plot" ></div>

{% endblock %}
